@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue-300: #90c9ff;

  --black: #262626;
  --white: hsl(0, 0%, 100%);

  --violet-50: hsl(245, 28%, 84%);
  --violet-100: hsl(257, 31%, 65%);
  --violet-200: hsl(269, 34%, 46%);
  --violet-300: hsl(281, 37%, 27%);
  --violet-400: hsl(293, 41%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  line-height: 150%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--violet-50);
}